* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: url("gundappe.png") no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(255, 255, 255, 0.95);
  width: 95%;
  max-width: 520px;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 14px;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
}

.add-btn {
  width: 100%;
  padding: 14px;
  background: #558b2f;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.add-vendor {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.add-vendor button {
  background: #33691e;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  padding: 16px;
  background: #4caf50;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Mobile Friendly */
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}
